body {
    background-image: url("/img/bg.png");
    background-repeat: repeat;
}

.banner-heading {
    
    width: 65%;
    margin: auto;
    margin-left: 13%;
    top:70%;
    border-radius: 5px;
    /* border: 1px red; */
    background: rgba(254,254,255,0.75);
    padding: 0.5em 1.5em;
}
.banner-image {
   
    text-align: center;


}
.banner-image img{
  
    width: fit-content;
}

.news {
    width:65%;
    margin: auto;
    padding: 2em;
    background-color: cornsilk;
    margin-top: 1em;
    font-size: 1.2em;
    border: 1px solid;

    box-shadow: 5px 10px 18px #888888;
}

.newsgrid {

    margin-top:2em;
    display: grid;
    margin-left: 15%;
    grid-template-columns: 1fr 1fr 1fr;
}

.newsgrid2 {

    margin-top:2em;
    display: grid;
    margin-left: 2%;
    grid-template-columns: 1fr 1fr 1fr;
}

.newscard{

    width:300px;
    padding: 1em;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    margin-top: 1em;
    background-color: cornflowerblue;

}

.newstitle {
    color: black;
    font-size: 1.2em;
    padding: 1em;
}

@media screen and (max-width: 100em) {

    .newsgrid2 {

        margin-top:2em;
        display: grid;
        margin-left: 2%;
        grid-template-columns: 1fr ;
    }
    .newsgrid {

        margin-top:2em;
        display: grid;
        margin-left: 2%;
        grid-template-columns: 1fr ;
    }
    .newscard{

        width:90%;
        margin: auto;
        padding: 1em;
        border: 1px solid;
        box-shadow: 5px 10px 18px #888888;
        margin-top: 1em;
    
    }
     
    .news {
        width:85%;
        margin: auto;

    }

    .banner-heading {
    
        width: 65%;
        margin: auto;
        margin-left: 13%;
        top:30%;

    }
}