body{
    margin: 0px;
    background-color: rgb(5, 4, 7);
}
 
.logo img{
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    height: 200px;
}

.top-nav {
    width: auto;
    background-color: rgb(243, 237, 245);
    overflow: hidden;
    height: 300px;
}


.top-nav a {
       padding: 20px 15px;
       display: inline;
       text-decoration: none;
   }
 
.top-list {
    padding: 0;
    margin: 0 0 0 150px;
  } 

 .list-item{
    float: right;
    font-size: 3em;
    margin-right: 90px;
    color: black;
}
/* Style for header ends here */

   /* Style for main content */


#team-banner {
    width: 60%;
     height: 70vh;
   
 }


.main-flex-box {
    display: flex;
    margin-top: 0px;
    height: 1500px;
    background-color: blueviolet;
    justify-content: space-evenly;
}

#team-item-player1 {
    background-color: white;
    height: 1000px;
    width: 18%;
    border: solid 2px black;
    }

#player1 {
    border-radius: 50%
}

#team-item-player2 {
    background-color: white;
    height: 1000px;
    width: 18%;
    border: solid 2px black;

}
#player2 {
    border-radius: 50%
}

#team-item-player3{
    background-color: white;
    height: 1000px;
    width: 18%;
    border: solid 2px black;

}
#player3 {
    border-radius: 50%
}

#team-item-player4{
    background-color: white;
    height: 1000px;
    width: 18%;
    border: solid 2px black;

}
#player4 {
    border-radius: 50%
}

#team-item-player5 {
    background-color: white;
    height: 1000px;
    width: 18%;
    border: solid 2px black;

}
#player5 {
    border-radius: 50%
}
